

<table class="table table-bordered table-light table-hover">
    <thead class="thead-dark h3">
        <tr >
            <th>
              Card</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CardsList" class="h5">
            <td>{{dataItem.name}}</td>
            <td>
                <button type="button" class="btn btn-dark mr-1" (click)="editCard(dataItem.id, dataItem.name)">Edit</button>
                <button type="button" class="btn btn-dark mr-1" (click)="deleteCard(dataItem.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
