<form>
    <div class="form-group" >
            <label class="col-sm-2 col-form-label">Card Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="Card.name" name="name" placeholder={{Card.name}}>
            </div>
        
            <label class="col-sm-2 col-form-label">Text</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="Card.text" name="text" rows="3">{{Card.text}}</textarea>
            </div>
        
        </div>
        <div class="form-group ">
            <button (click)="editClick()" class="btn btn-primary ml-3">Edit</button>
            <button (click)="cancelClick(Card)" class="btn btn-primary ml-5">Cancel </button>
        </div>

</form>