

<div class="card" *ngFor="let dataItem of CardsList">
    <mat-card class="card-body">
      <div class="header" class="tabcontent">
        <p class="h4">{{dataItem.name}}<br/></p>
         </div>
      <mat-card-content >
          <p class="dataItem-text">{{dataItem.text | slice:0:150}}...</p>
          <a href="#" class="dataItem-text font-italic link-ligth" [routerLink]="" (click)="goToCard(dataItem.id, dataItem.name)" >Show more</a>
        </mat-card-content>
      <mat-card-actions >
        <!-- <button mat-button>SUBSCRIBE</button> -->
        <button type="button" class="btn btn-dark mr-1"(click)="editCard(dataItem.id, dataItem.name)">EDIT</button>
        <button type="button" class="btn btn-dark mr-1" (click)="deleteCard(dataItem.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>